.carousel {
  width: 90%;
  height: 80vh;
  margin: 8rem auto;
  overflow: hidden;
  position: relative;

  &__inner-container {
    border: 1px solid red;
    height: 100%;
    display: flex;
    transition: transform 0.75s cubic-bezier(0.95, 0.05, 0.795, 0.035);
  }

  &__item {
    height: 100%;
    background-color: darkblue;
  }

  &__controls {
    background-color: cyan;
    width: 20rem;
    height: 20rem;

    button {
      width: 10rem;
      border: 1px solid red;
    }
  }
}
