.pp-container {
  background-color: var(--bg);
  width: 100%;

  margin-top: 6.2rem;
  padding: 0 2.5rem;

  padding-bottom: 20rem;

  @media (--laptop) {
    padding: 0 20rem;
    padding-bottom: 20rem;
  }

  h1 {
    margin-bottom: 5rem;
  }

  h2 {
    margin-top: 4rem;
  }

  h3 {
    font-size: 2rem;
    font-weight: bold;
  }

  p,
  i,
  b {
    color: var(--text);
    font-size: 2rem;
    line-height: 2.6rem;
  }

  a {
    font-size: 2rem;
    line-height: 2.6rem;
    color: var(--text);
    text-decoration: underline;
    transition: opacity 0.2s ease-in-out;

    &:hover {
      opacity: 0.5;
      transition: opacity 0.2s ease-in-out;
    }
  }
}
