@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 300;

  @media (--laptop) {
    font-size: 1.3rem;
    line-height: 0;
  }
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

h1 {
  font-size: 3.5rem;
  line-height: 3.5rem;

  @media (--laptop) {
    font-size: 6rem;
    line-height: 6.3rem;
  }
}

h2 {
  font-size: 2.6rem;

  @media (--laptop) {
    font-size: 5rem;
    line-height: 5.9rem;
  }
}

h3 {
  font-size: 2rem;

  @media (--laptop) {
    font-size: 3.6rem;
    line-height: 3.8rem;
  }
}

h4 {
  font-size: 1.9rem;
  line-height: 2.3rem;

  @media (--laptop) {
    font-size: 3rem;
    line-height: 3.6rem;
  }
}

p {
  margin: 0;
  font-size: 1.7rem;
  line-height: 2.7rem;
  font-weight: 300;

  @media (--laptop) {
    font-size: 1.7rem;
    line-height: 2.7rem;
  }
}

p + p {
  margin-top: 2.5rem;
}

ul {
  font-weight: 300;
  font-size: 1.7rem;
  line-height: 2.3rem;
}
