.toggle {
  width: 5.6rem;
  height: 3rem;
  background-color: var(--bg);
  border: 1px solid var(--text);
  border-radius: 2.4rem;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  cursor: pointer;
  user-select: none;
  pointer-events: auto;
  transition: transform 0.25s ease-out, border-color 0.25s ease-in;

  position: fixed;
  bottom: 2.5rem;
  left: 5rem;

  &__handle {
    width: 1.8rem;
    height: 1.8rem;
    background-color: var(--text);
    display: inline-block;
    border-radius: 100%;
    transition: transform 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95),
      background 0.2s ease-in;
  }
}
