.phone {
  width: 28rem;
  background-color: transparent;
  z-index: 1;

  &__screen {
    border-radius: 30px;
    border: 8px solid var(--device-border);
    box-shadow: 0px 2px 53px -10px rgba(0, 0, 0, 0.32);
  }
}
