.hero {
  display: flex;

  @media (--laptop) {
    height: 90vh;
    flex-direction: row;
    padding: 5rem 15rem;
  }

  &__copy {
    background-color: var(--bg);
    width: 50%;

    @media (--laptop) {
      padding-top: 8rem;
    }

    h1 {
      max-width: 50rem;
      margin-bottom: 2rem;
    }

    p {
      max-width: 50rem;
      color: var(--text-light);
    }
  }

  &__media {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url("../../assets/triangles.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    &__ellipse,
    &__blob {
      position: absolute;
      transition: transform 0.25s ease-in-out;

      &:hover {
        transform: scale(1.05);
        transition: transform 0.25s ease-in-out;
      }
    }

    &__ellipse {
      @media (--laptop) {
        top: 0;
        left: 9rem;
      }
    }

    &__blob {
      @media (--laptop) {
        bottom: -2rem;
        right: 13rem;
      }
    }
  }
}
