.hero {
  /* background-color: pink; */
  color: red;

  display: flex;
  @media (--laptop) {
    height: 90vh;
    flex-direction: row;
    padding: 5rem 15rem;
  }

  &__copy {
    background-color: var(--bg);
    /* background-color: violet; */
    width: 50%;

    @media (--laptop) {
      padding-top: 8rem;
      /* padding-left: 20rem; */
    }

    h1 {
      max-width: 50rem;
      /* background-color: red; */
      margin-bottom: 2rem;
    }

    p {
      max-width: 50rem;
      color: var(--text-light);
    }
  }

  &__media {
    /* background-color: cyan; */
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &__device {
      width: 25rem;
      height: 50rem;
      background-color: var(--white);
      border-radius: 40px;
      z-index: 1;
      border: 5px solid black;
    }

    &__ellipse {
      position: absolute;

      @media (--laptop) {
        top: 1rem;
        left: 7rem;
      }
    }

    &__blob {
      position: absolute;

      @media (--laptop) {
        bottom: -7rem;
        right: 12rem;
      }
    }
  }
}
